@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools

@model SL_IssueComment

<style scoped>
    #IssueSearchCriteriaContent {
        width:600px;
        height:300px;
    }

    #IssueCommentTable {
        border-collapse: collapse;
        margin: 0px;
    }

    #IssueCommentTable th,
    #IssueCommentTable td {
        min-height:50px;
        padding: 5px 0px 0px 5px;
    }
</style>

<script>
    function onIssueCommentSubmit(e) {
        e.preventDefault();

        var form = $("#my-form");

        $.ajax({
            url: "@Url.Action("AddIssueComment", "Issue", new { area = "DomesticTrading" })",
            data: form.serializeArray(),
        type: "POST",
        success: function () {
            $("#StatusLabel").text("Issue Comment Added");
            $('#LocalDetailWindow').data("kendoWindow").close();
        },
        error: function (e) {
            $("#StatusLabel").text(e.statusText);
            $("#IssueCommentSubmitButton").data("kendoButton").enable(true);
        }
    });
    }
</script>
@using (Html.BeginForm("Action", "ControllerName", FormMethod.Post, new { id = "my-form" }))
{
<div id="IssueCommentContent" class="grid-div">
    <table id="IssueCommentTable" class="width400">
        <tr>
            <td colspan="2">
             @LabelHelper.Label("Comment:")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.Kendo().TextAreaFor(model => model.Comment).HtmlAttributes(new { style = "height:300px;", @maxlength = 250 })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label id="istStatus"></label>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2">
                @Html.Kendo().Button().Name("IssueCommentSubmitButton").Content(LabelHelper.Text("IssueCommentSubmit")).Events(e => e.Click("onIssueCommentSubmit"))
            </td>
        </tr>
    </table>
</div>

    @Html.HiddenFor(model => model.EntityId)
    @Html.HiddenFor(model => model.IssueId)
    @Html.HiddenFor(model => model.IssueId)

}
