@using SLTrader.Tools
@model BondFire.Entities.Projections.SL_BoxCalculationExtendedProjection

<style scoped>
    #BoxCalculationHorizontalBlockWrapper {
        width: 100%;
        height: 100%;
    }

    #BoxCalculationHorizontalBlock {
        table-layout: fixed;
        padding: 0px;
        padding-right: 3px;
        width:100%;
        height:100%;
    }

    #BoxCalculationHorizontalBlock td {                        
        padding: 0px;
        padding-right:3px;
        width:50px;
    }
</style>

<div id="BoxCalculationHorizontalBlockWrapper" class="k-block">
<table id="BoxCalculationHorizontalBlock">
    <tr>
        <td colspan="21" class="text-left">Box Calculation</td>
    </tr>
    <tr>            
            <td></td>            
            <td>@LabelHelper.Text("Excess")</td>
            <td>@LabelHelper.Text("Depository")</td>
            <td>@LabelHelper.Text("SegregationReq")</td>
            <td>@LabelHelper.Text("Long")</td>
            <td>@LabelHelper.Text("Short")</td>
            <td>@LabelHelper.Text("Pledged")</td>
            <td>@LabelHelper.Text("StockBorrowSettled")</td>
            <td>@LabelHelper.Text("StockLoanSettled")</td>
            <td>@LabelHelper.Text("CnsFTD")</td>
            <td></td>
            <td>@LabelHelper.Text("OtherFTD")</td>
            <td>@LabelHelper.Text("CnsFTR")</td>
            <td></td>
            <td>@LabelHelper.Text("OtherFTR")</td>            
        </tr>
        <tr class="ktb-var-accent">
            <td class="ktb-var-normal-text-color">@LabelHelper.Text("Actual")</td>            
            <td>@Html.DisplayFor(model => model.ExcessPositionSettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.DepositorySettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.SegregationReq, "Decimal")</td>
            <td>@((Model.CustomerLongPositionSettled + Model.FirmLongPositionSettled).ToString("#,##0"))</td>            
            <td>@((Model.CustomerShortPositionSettled + Model.FirmShortPositionSettled).ToString("#,##0"))</td>
            <td>@((Model.CustomerBankLoanPositionSettled + Model.FirmBankLoanPositionSettled + Model.OtherBankLoanPositionSettled).ToString("#,##0"))</td>
            <td>@Html.DisplayFor(model => model.StockBorrowPositionSettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.StockLoanPositionSettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.CnsFailToDeliverPositionSettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.CnsFailToDeliverPositionSettledDayCount, "Int32")</td>
            <td>@((Model.DvpFailToDeliverPositionSettled + Model.BrokerFailToDeliverPositionSettled).ToString("#,##0"))</td>
            <td>@Html.DisplayFor(model => model.CnsFailToRecievePositionSettled, "Decimal")</td>
            <td>@Html.DisplayFor(model => model.CnsFailToRecievePositionSettledDayCount, "Int32")</td>
            <td>@((Model.DvpFailToRecievePositionSettled + Model.BrokerFailToRecievePositionSettled).ToString("#,##0"))</td>
        </tr>
    <tr class="ktb-var-accent">
        <td class="ktb-var-normal-text-color">@LabelHelper.Text("Forcast")</td>        
        <td>@Html.DisplayFor(model => model.ExcessPositionTraded, "Decimal")</td>
        <td>@Html.DisplayFor(model => model.DepositorySettled, "Decimal")</td>
        <td></td>
        <td>@((Model.CustomerLongPositionTraded + Model.FirmLongPositionTraded).ToString("#,##0"))</td>
        <td>@((Model.CustomerShortPositionTraded + Model.FirmShortPositionTraded).ToString("#,##0"))</td>
        <td></td>
        <td>@Html.DisplayFor(model => model.StockBorrowPositionTraded, "Decimal")</td>
        <td>@Html.DisplayFor(model => model.StockLoanPositionTraded, "Decimal")</td>
        <td>@Html.DisplayFor(model => model.CnsFailToDeliverPositionTraded, "Decimal")</td>
        <td></td>
        <td>@((Model.DvpFailToDeliverPositionTraded + Model.BrokerFailToDeliverPositionTraded).ToString("#,##0"))</td>
        <td>@Html.DisplayFor(model => model.CnsFailToRecievePositionTraded, "Decimal")</td>
        <td></td>
        <td>@((Model.DvpFailToRecievePositionTraded + Model.BrokerFailToRecievePositionTraded).ToString("#,##0"))</td>
    </tr>
    </table>
</div>