@using BondFire.Entities.Projections
@using SLTrader.Tools
@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper

@model InventoryListExportModel

<script type="text/javascript">


    function onCancelClientEmailActionExport() {
        $('#LocalDetailWindow').data("kendoWindow").close();
    }

    function onClientInventoryExportGridData(e) {
        var dataItemsHidden = getCSVDataItems('#ClientInventoryHiddenGrid', true);
      
        return {
            list: dataItemsHidden
        }
    }

    function onSendClientEmailActionExport() {
        try {

            $("#SendClientEmailActionExportButton").data("kendoButton").enable(false);
            $("#CancelClientEmailActionExportButton").data("kendoButton").enable(false);

            KendoGridToCSVConvertor("#ClientInventoryDetailHiddenGrid", "ClientInventoryDetailHiddenGrid", true);        
            $('#LocalDetailWindow').data("kendoWindow").close();
        }
        catch (f)
        {
            $("#ClientEmailActionExportStatusLabel").text("Export failed. - " + f.message);
            $("#SendClientEmailActionExportButton").data("kendoButton").enable(true);
            $("#CancelClientEmailActionExportButton").data("kendoButton").enable(true);
        }
    }
</script>

@*<style scoped>
    #ClientEmailActioneExportTable td,
    #ClientEmailActioneExportTable th {
        min-height: 50px;
        padding: 5px 0px 0px 5px;
    }


    #ClientEmailActionExportStatusLabel {
        font-style: normal;
        white-space: pre-wrap;
        border: 1px solid #ccc;
        height: 50px;
    }

    #ClientEmailActioneExportTable {
        width: 300px;
        max-width: 300px;
    }

    #ClientInventoryDetailHiddenGrid {
        max-height: 0px;
        max-width: 0px;
        visibility : hidden;
    }
</style>*@

@if (Model == null)
{
    @LabelHelper.Label("NoData")
}
else
{
<table id="ClientEmailActioneExportTable">
    <tr>
        <td>
            @LabelHelper.Label("NumberOfLists")  
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
        @(Html.Kendo().Grid(Model.fileProjectionList)
        .Name("ClientInventoryHiddenGrid")
        .Scrollable(scroll => scroll.Enabled(true).Virtual(true))
        .Columns(cols =>
        {
            cols.Bound(x => x.SLClientEmailActionId).Hidden();
            cols.Bound(x => x.EffectiveDate).Hidden();
            cols.Bound(x => x.Source);
            cols.Bound(x => x.FileLocation).Hidden();
            cols.Bound(x => x.FileDescription).Hidden();
            cols.Bound(x => x.SLClientEmailActionMarkerId).Hidden();
            cols.Bound(x => x.CLientEmailActionMarker).Hidden();
            cols.Bound(x => x.CLientEmailActionMarkerDescription).Hidden();
            cols.Bound(x => x.ItemCount);
            cols.Bound(x => x.UploadTime).Hidden();
            cols.Bound(x => x.IsEasySource).Hidden();
        })
        .DataSource(data =>
        {
            data.Ajax().ServerOperation(false);
        }))

       @(Html.Kendo().Grid(Model.inventoryProjectionList)
        .Name("ClientInventoryDetailHiddenGrid")       
        .Columns(cols =>
        {
            cols.Bound(x => x.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.SecNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Isin).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Sedol).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Quick).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Source).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            cols.Bound(x => x.Quantity).GetColumnFormat(ColumnTypeEnum.Position, false, "", "");
        })
        .DataSource(data =>
        {
            data.Ajax().ServerOperation(false);
        }))
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">@LabelHelper.Label("Status")</td>
    </tr>
    <tr>
        <td colspan="2">
            <label id="ClientEmailActionExportStatusLabel"></label>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            @Html.Kendo().Button().Name("SendClientEmailActionExportButton").Content(LabelHelper.Text("SendClientEmailActionExport")).Events(e => e.Click("onSendClientEmailActionExport"))
            @Html.Kendo().Button().Name("CancelClientEmailActionExportButton").Content(LabelHelper.Text("CancelClientEmailActionExport")).Events(e => e.Click("onCancelClientEmailActionExport"))
        </td>
    </tr>
</table>
}