@using SLTrader.Enums
@using SLTrader.Tools
@using EnumExtensions = SLTrader.Tools.EnumExtensions
@model string


<style scoped>
     .TableIssueOverrideBorder {
        border-collapse: separate;
        border-color: whitesmoke;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    #IssueRateOverrideStatusLabel {
        max-width: 300px;
        width: 300px;
        font-style: normal;
        white-space: pre-wrap;
        border: 1px solid #ccc;
        height: 50px;
    }

    #IssueRateOverrideTable {
        border-collapse: collapse;
        width: 300px;
    }

        #IssueRateOverrideTable th,
        #IssueRateOverrideTable td {
            min-height: 50px;
            padding: 5px 0px 0px 5px;
        }


    #IssueRateOverrideWrapper {
        width: 300px;
        min-width: 300px;
    }

</style>

<script type="text/javascript">
    function LoadIssue() {
        var loookUp = $("#IssueLookUpTextBox").val();

        $.ajax({
            url: "@Url.Action("Read_Issue", "RebateBilling", new {area ="RebateBilling" })",
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({
                criteria: loookUp
            }),
            success: function (valid) {
                $("#IssueOverrideIssueIdTextBox").val(valid.IssueId);
                $("#IssueOverrideCusipTextBox").val(valid.Cusip);
                $("#IssueOverrideTickerTextBox").val(valid.Ticker);



                $("#SaveIssueOverrideBUtton").data("kendoButton").enable(true);
            },
            error: function (valid) {
                $('#StatusLabel').html('<i class="fa fa-times"></i> Error Processing!');

                $("#SaveIssueOverrideBUtton").data("kendoButton").enable(false);
            }
        })
    }

    function onAddIssueOverrideSubmit() {
        $("#IssueRateOverrideStatusLabel").html('<i class="fa fa-spinner fa-spin"></i> Processing...');

        var debitRate = $("#DebitRateOverrideNumericTextBox").data("kendoNumericTextBox").value();
        var creditRate = $("#CreditRateOverrideNumericTextBox").data("kendoNumericTextBox").value();
        var issue = $("#IssueOverrideIssueIdTextBox").val();

        var expireDatepicker = $("#ExpireDateOverrideDatePicker").data("kendoDatePicker");
        var expireDate = kendo.toString(expireDatepicker.value(), 'yyyy-MM-dd');

        var startDatepicker = $("#StartDateOverrideDatePicker").data("kendoDatePicker");
        var startDate = kendo.toString(startDatepicker.value(), 'yyyy-MM-dd');

        var accountNumber = $("#IssueOverrideAccountNumberTextBox").val();

        $.ajax({
            url: "@Url.Action("ProcessAddIssueOverride", "RebateBilling", new {area ="RebateBilling" })",
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({
                entityId: '@Model',
                accountNumber: accountNumber,
                creditRate: creditRate,
                debitRate: debitRate,
                startDate: startDate,
                expireDate: expireDate,
                issueId: issue
            }),
            success: function (valid) {
                $('#IssueRateOverrideStatusLabel').html('Successfully added issue rate override.');
                $("#SaveIssueOverrideBUtton").data("kendoButton").enable(true);

                $('#RebateBillingIssueOverrideDetails').data("kendoGrid").dataSource.read();
                $('#LocalDetailWindow').data("kendoWindow").close();

            },
            error: function (valid) {
                $('#IssueRateOverrideStatusLabel').html('<i class="fa fa-times"></i> Error Processing!');
            }
        })
    }

</script>

<div id="IssueRateOverrideWrapper">
    <table id="IssueRateOverrideTable">
        <tr>
            <td>
                @LabelHelper.Text("Issue Lookup")
            </td>
            <td>
                @Html.Kendo().TextBox().Name("IssueLookUpTextBox").HtmlAttributes(new { @style = "width:110px" })
                @Html.Kendo().Button().Name("IssueLookupButton").Events(ev => ev.Click("LoadIssue")).Content(@<text><i class="fa fa-search"></i></text>)
            </td>
        </tr>
        <tr>
            <td colspan="2" hidden="hidden">
                @LabelHelper.Text("IssueId")
                @Html.Kendo().TextBox().Name("IssueOverrideIssueIdTextBox").Enable(false)

            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("Cusip")
            </td>
            <td>
                @Html.TextBox("IssueOverrideCusipTextBox", "", new { @class = "k-textbox", @style = "width:110px;" })
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("Ticker")
            </td>
            <td>
                @Html.TextBox("IssueOverrideTickerTextBox", "", new { @class = "k-textbox", @style = "width:110px;" })
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("AccountNumber")
            </td>
            <td>
                @Html.TextBox("IssueOverrideAccountNumberTextBox", "", new { @class = "k-textbox", @style = "width:110px;" })
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("CreditRateOverride")
            </td>
            <td>
                @Html.Kendo().NumericTextBox().Name("CreditRateOverrideNumericTextBox").Format("#,###.000").HtmlAttributes(new { @style = "width:110px" }).Value(0)
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("DebitRateOverride")
            </td>
            <td>
                @Html.Kendo().NumericTextBox().Name("DebitRateOverrideNumericTextBox").Format("#,###.000").HtmlAttributes(new { @style = "width:110px" }).Value(0)
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("StartDate")
            </td>
            <td>
                @Html.Kendo().DatePicker().Name("StartDateOverrideDatePicker").Format("yyyy-MM-dd").HtmlAttributes(new { @style = "width:110px" }).Value(DateTime.Today.ToString("yyyy-MM-dd"))
            </td>
        </tr>
        <tr>
            <td>
                @LabelHelper.Text("ExpireDate")
            </td>
            <td>
                @Html.Kendo().DatePicker().Name("ExpireDateOverrideDatePicker").Format("yyyy-MM-dd").HtmlAttributes(new { @style = "width:110px" })
            </td>
        </tr>
        <tr>
        <tr>
            <td colspan="2">@LabelHelper.Label("Status")</td>
        </tr>
        <tr>
            <td style="width:100%;" colspan="2">
                <label id="IssueRateOverrideStatusLabel"></label>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; text-align:right" colspan="2">
                @Html.Kendo().Button().Name("SaveIssueOverrideBUtton").Enable(true).Events(ev => ev.Click("onAddIssueOverrideSubmit")).Content(LabelHelper.Text("SaveIssueOverride")).Enable(false)
            </td>
        </tr>
    </table>
</div>