@using SLTrader.Tools

<!DOCTYPE html>
<html>
<head>


    <title>SL Trader  @ConfigValues.Version</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2022.1.301/kendo.common.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2022.1.301/kendo.dataviz.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2022.1.301/kendo.default.min.css")">    
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome-4.7.0/css/font-awesome.min.css")">

    <script src="@Url.Content("~/Scripts/kendo/2022.1.301/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2022.1.301/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2022.1.301/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2022.1.301/kendo.timezones.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2022.1.301/jszip.min.js")"></script>

    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/signalr")


    <script src="@Url.Content("~/Scripts/ZeroClipboard/ZeroClipboard.js")"></script>

    <script src="@Url.Content("~/signalr/hubs")"></script>


</head>
<body id="ContentArea">
    @{        
        if ((Request.Browser.Browser == "Chrome") || (Request.Browser.Browser == "Firefox"))
        {
            Html.RenderPartial("~/Areas/Login/Views/Login/_Login.cshtml");
        }
        else
        {
            Html.RenderPartial("~/Areas/Login/Views/Login/_InvalidBrowser.cshtml");
        }

        RenderBody();
    }
</body> 
</html>
