@using SLTrader.Tools
@using EnumExtensions = SLTrader.Tools.EnumExtensions

@model string

<script type="text/javascript">
    function onSettingsPost()
    {

        var creditMarkup = $("#RebateBillingCreditMarkupTextBox").data("kendoNumericTextBox").value();
        var debitMarkup = $("#RebateBillingDebitMarkupTextBox").data("kendoNumericTextBox").value();
        var emailAddress = document.getElementById("RebateBillingDefaultEmailAddressTextBox").value;
        var rebateType = $("#RebateBillingTypeDropdown").data("kendoDropDownList").value();
        var rebateBillingType = $("#RebateBillingTypeDropdown").data("kendoDropDownList").value();

        $('#StatusLabel').html('<i class="fa fa-spinner fa-spin"></i> Processing...');

        try
        {
            $.ajax({
                url: '/RebateBilling/RebateBilling/ProcessDefaultsUpdateRebateBilling',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({
                    entityId : '@Model',
                    creditMarkup: creditMarkup,
                    debitMarkup: debitMarkup,
                    emailAddress: emailAddress,
                    rebateType: rebateType,
                    rebateBillingType : rebateBillingType
                }),
                success: function (valid) {
                    $('#StatusLabel').html("Sucessfully updated default values");
                },
                error: function (valid) {
                    LogError(valid.message);

                    $('#StatusLabel').html('<i class="fa fa-times"></i> Error Processing!');
                }
            })
        }
        catch(e)
        {
            console.log(e.message);
        }
    }

    $('#RebateBillingCreditMarkupTextBox').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#RebateBillingDebitMarkupTextBox').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#RebateBillingDefaultEmailAddressTextBox').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#RebateBillingDefaultEmailAddressTextBox').change(function () {
        $("#PostRebateBillingOptions").data("kendoButton").enable(true);
    });

    $('#RebateBillingRebateTypeDropdown').change(function () {
        $("#PostRebateBillingOptions").data("kendoButton").enable(true);
    });

    $('#RebateBillingTypeDropdown').change(function () {
        $("#PostRebateBillingOptions").data("kendoButton").enable(true);
    });

    $('#RebateBillingDebitMarkupTextBox').change(function () {
        $("#PostRebateBillingOptions").data("kendoButton").enable(true);
    });

    $('#RebateBillingCreditMarkupTextBox').change(function () {
        $("#PostRebateBillingOptions").data("kendoButton").enable(true);
    });
    
</script>
<div id="AutoBorrowDefaultOptionsDiv" class="table-form">
    <table>
        <tr>
            <td>@LabelHelper.Text("RebateBillingCreditMarkup")</td>
            <td>@Html.Kendo().NumericTextBox().Name("RebateBillingCreditMarkupTextBox").Format("#,##0.00").Value(Convert.ToDouble(DataSystemValues.LoadSystemValue("RebateBillingCreditMarkup_"+ Model, "0")))</td>
            <td>@LabelHelper.Text("RebateBillingDebitMarkup")</td>
            <td>@Html.Kendo().NumericTextBox().Name("RebateBillingDebitMarkupTextBox").Format("#,##0.00").Value(Convert.ToDouble(DataSystemValues.LoadSystemValue("RebateBillingDebitMarkup_" + Model, "0")))</td>
        </tr>
        <tr>
            <td>@LabelHelper.Text("RebateBillingRebateType")</td>
            <td>@Html.Kendo().DropDownList().Name("RebateBillingRebateTypeDropdown").BindTo(EnumExtensions.GetEnumSelectList<SL_RebateType>()).Value((DataSystemValues.LoadSystemValue("RebateBillingRebateType_" + Model, "")))</td>
            <td>@LabelHelper.Text("RebateBillingType")</td>
            <td>@Html.Kendo().DropDownList().Name("RebateBillingTypeDropdown").BindTo(EnumExtensions.GetEnumSelectList<SL_RebateBillingType>()).Value(DataSystemValues.LoadSystemValue("RebateBillingType_" + Model, ""))</td>
        </tr>
        <tr>
            <td>@LabelHelper.Text("RebateBillingEmailAddress")</td>
            <td>@Html.TextBox("RebateBillingDefaultEmailAddressTextBox", DataSystemValues.LoadSystemValue("RebateBillingDefaultEmailAddress_" + Model, ""), new { @class = "k-textbox" })</td>
            <td>@LabelHelper.Text("RebateBillingDecrementFail")</td>
            <td>@Html.CheckBox("RebateBillingDecrementFailCheckBox", false)
        </tr>
        <tr>
            <td colspan="4">
                <label id="StatusLabel" class="label-status"></label>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                @Html.Kendo().Button().Name("PostRebateBillingOptions").Enable(false).Content(LabelHelper.Text("PostRebateBillingOptionsChange")).Events(e => e.Click("onSettingsPost"))
            </td>
        </tr>
    </table>
</div>