@using System.ComponentModel
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Enums
@using SLTrader.Tools
@using SLTrader.Models
@using BondFire.Entities.Projections

@model PartialViewModel

<style scoped>
     #SharedContractButton.zeroclipboard-is-hover {
        background-color: #1ba1e2;
    }
</style>
<script type="text/javascript">
    var _originalSharedContractGrid = null;

    $(document).ready(function () {
        setTimeout(function () {
            _originalSharedContractGrid = $('#SharedDetailContractHistoryGrid').data('kendoGrid').getOptions();

            LoadGridLayout("#SharedDetailContractHistoryGrid");

            $(".k-grid-toolbar", "#SharedDetailContractHistoryGrid").append("<label style=\"font-weight:bold;\">Security: [@Model.SecurityNumber] @Model.Ticker For @Model.EffectiveDate.ToString("yyyy-MM-dd")</label>");
            $('#SharedDetailContractHistoryGrid').data('kendoGrid').dataSource.read();
        }, 3);

        var clientEvent1 = new ZeroClipboard(document.getElementById("SharedContractButton"));

        clientEvent1.on("ready", function (readyEvent) {
            clientEvent1.on("copy", function (event) {
                var data1 = KendoGridToText("#SharedDetailContractHistoryGrid", "SharedDetailContractHistoryGrid", false);
                clientEvent1.setText(data1);
            });
        });
    });

    function onSharedContractLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#SharedDetailContractHistoryGrid");
        }, 5);
    }

    var hiddenColumns = true;

    function onSharedContractCheckData() {
        CheckGridData('#SharedDetailContractHistoryGrid');
    }

    function onError(e) {
        console.log(e.message);
    }

    function toggleSharedContractColumns() {
        var entityGrid = $("#SharedDetailContractHistoryGrid").data("kendoGrid");

        if (hiddenColumns) {
            entityGrid.hideColumn("QuantityDelta");
            entityGrid.hideColumn("AmountDelta");

            entityGrid.showColumn("CurrencyCode");
            entityGrid.showColumn("SecuritySettleDate");
            entityGrid.showColumn("QuantityOnRecall");

            hiddenColumns = false;

        } else {
            entityGrid.showColumn("QuantityDelta");
            entityGrid.showColumn("AmountDelta");

            entityGrid.hideColumn("CurrencyCode");
            entityGrid.hideColumn("SecuritySettleDate");
            entityGrid.hideColumn("QuantityOnRecall");

            hiddenColumns = true;
        }
    }

    function onSharedContractAdditionalData(e) {
        return {
            entityId: '@Model.EntityId',
            effectiveDate: '@Model.EffectiveDate',
            contraEntity: '@Model.ContraEntity',
            contractNumber: '@Model.ContractNumber',
            issueId: '@Model.IssueId',
            tradeType: '@Model.TradeType'
        };
    }

    function onSharedContractContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'Deltas':
                toggleSharedContractColumns();
                break;

            case 'AutoFit Columns':
                resizeGridColumns("#SharedDetailContractHistoryGrid");
                break;


            case 'Unsort':
                onSharedContractUnsortGrid("#SharedDetailContractHistoryGrid");
                break;

            case 'Select All':
                onSharedContractSelectAll(true);
                break;

            case "Reset Filter":
                ResetFilter("#SharedDetailContractHistoryGrid");
                break;


            case 'Reset Grid':
                ResetUserLayout("#SharedDetailContractHistoryGrid");
                $('#SharedDetailContractHistoryGrid').data('kendoGrid').setOptions(_originalSharedContractGrid);
                $(".k-grid-toolbar", "#SharedDetailContractHistoryGrid").append("<label style=\"font-weight:bold;\">Security: [@Model.SecurityNumber] @Model.Ticker For @Model.EffectiveDate.ToString("yyyy-MM-dd")</label>");
                $('#SharedDetailContractHistoryGrid').data('kendoGrid').dataSource.read();
                break;

            case 'Export To Excel':
                exportToSharedContractExcel();
                break;
        }
    }
    function onSharedContractSelectAll(e) {
        try {
            var recallGrid = $("#SharedDetailContractHistoryGrid").data("kendoGrid");
            recallGrid.select(recallGrid.tbody.find(">tr"));
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onSharedContractUnsortGrid(e) {
        UnsortGrid(e);
    }

    function exportToSharedContractExcel() {
        KendoGridToCSVConvertor("#SharedDetailContractHistoryGrid", 'SharedDetailContractHistoryGrid');
    }
</script>

<div id="SharedDetailContractDiv" class="grid-div">
    @(Html.Kendo().Grid<SL_ContractExtendedProjection>()
            .Name( "SharedDetailContractHistoryGrid" )
            .Navigatable()
            .Scrollable()
            .Sortable()
            .AutoBind(false)
            .ToolBar(t =>
            {
                t.Template("<label></label>");
            })
            .Editable(x => x.Enabled(false))
            .HtmlAttributes(new { @class = "grid" })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
            .Filterable()
            .NoRecords()
            .Events(events =>
            {
                events.DataBound("onSharedContractCheckData");
                events.ColumnHide("onSharedContractLayoutChange");
                events.ColumnShow("onSharedContractLayoutChange");
                events.ColumnResize("onSharedContractLayoutChange");
                events.ColumnReorder("onSharedContractLayoutChange");
            })
            .Resizable(resize => resize.Columns(true))
            .ColumnMenu(columnMenu =>
            {
                columnMenu.Columns(true);
                columnMenu.Sortable(true);
                columnMenu.Filterable(true);
                columnMenu.ComponentType( "modern" );
            } )
            .Reorderable(reorder =>
            {
                reorder.Columns(true);
            })
            .Navigatable()
          .Columns(columns =>
          {
              columns.Bound(x => x.EffectiveDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "");
              columns.Bound(x => x.SLContract).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
              columns.Bound(x => x.EntityId).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.ContraEntity).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.AccountName).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
              columns.Bound(x => x.ContractNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(p => p.TradeType).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.Classification).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.RecordDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "").Hidden(true);
              columns.Bound(x => x.MktPrice).GetColumnFormat(ColumnTypeEnum.Money, false, "", "").Hidden();
              columns.Bound(x => x.CollateralPrice).GetColumnFormat(ColumnTypeEnum.Money, false, "", "").Hidden();
              columns.Bound(x => x.IssueId).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.QuantityDelta).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDeltaDirection(QuantityDelta)#", "").Hidden(true);
              columns.Bound(x => x.QuantityFullSettled).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(QuantityFullSettled)#", "").Hidden(true);
              columns.Bound(x => x.QuantityStartOfDay).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(QuantityStartOfDay)#", "").Hidden(true);
              columns.Bound(x => x.Quantity).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(Quantity)#", "");
              columns.Bound(x => x.QuantityOnRecallStartOfDay).GetColumnFormat(ColumnTypeEnum.Position, false, "", "");
              columns.Bound(x => x.QuantityOnRecallOpen).GetColumnFormat(ColumnTypeEnum.Position, false, "", "");
              columns.Bound(x => x.AmountFullSettled).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetMoneyDirection(AmountFullSettled)#", "").Hidden(true);
              columns.Bound(x => x.AmountDelta).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetMoneyDeltaDirection(AmountDelta)#", "").Hidden(true);
              columns.Bound(x => x.Amount).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetMoneyDirection(Amount)#", "");
              columns.Bound(x => x.AmountStartOfDay).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetMoneyDirection(AmountStartOfDay)#", "").Hidden(true);
              columns.Bound(x => x.DepositoryStatus).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
              columns.Bound(x => x.CollateralFlag).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.ProfitId).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.RebateRate).GetColumnFormat(ColumnTypeEnum.Rate, true, "#=GetRateDirection(RebateRate)#", "");
              columns.Bound(x => x.RebateRateId).Hidden(true);
              columns.Bound(x => x.Mark).GetColumnFormat(ColumnTypeEnum.Margin, false, "#=GetRateDirection(Mark)#", "");
              columns.Bound(x => x.MarkParameterId).Hidden(true);
              columns.Bound(x => x.CashSettleDate).Hidden(true).GetColumnFormat(ColumnTypeEnum.Date, false, "", "");
              columns.Bound(x => x.SecuritySettleDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "");
              columns.Bound( x => x.TermDate ).GetColumnFormat( ColumnTypeEnum.Date, false, "", "" );
              columns.Bound(x => x.TradeDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "");
              columns.Bound(x => x.CurrencyCode).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.SecurityLoc).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.CashLoc).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
              columns.Bound(x => x.ActivityItemCount).GetColumnFormat(ColumnTypeEnum.Position, false, "# if (ActivityItemCount > 0) { #<i class='fa fa-bars' style='color:green;'></i># }# ", "").Title("").HtmlAttributes(new { title = "Actions - #= ActivityItemCount # " }).Filterable(false);
              columns.Bound(X => X.ContractFlag).GetColumnFormat(ColumnTypeEnum.String, false, "# if (ContractFlag == 'Pending') { #<i class='fa  fa-info-circle' style='color:blue;'></i># } else if (ContractFlag == 'Success') { #<i class='fa  fa-exclamation-circle' style='color:green;'></i># } else if (ContractFlag != ''){ #<i class='fa  fa-exclamation-triangle' style='color:red;'></i># } #", "").Title("").HtmlAttributes(new { title = "Status - #= ContractFlag # " }).Filterable(false);
              columns.Bound(x => x.IncomeAmount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(IncomeAmount)#", "");
              columns.Bound(x => x.Spread).GetColumnFormat(ColumnTypeEnum.Money, false, "#=GetRateDirection(Spread)#", "");
              columns.Bound(x => x.DateTimeId).GetColumnFormat(ColumnTypeEnum.Time, false, "", "");
          })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Sort(sort => sort.Add(x => x.TradeType).Order(ListSortDirection.Descending))
                       .Read(read =>
                       {
                           read.Action( "Read_ContractHistoryByIssue", "Main", new { area = "DomesticTrading" } ).Data( "onSharedContractAdditionalData" );
                       })
              .ServerOperation(false)
              .Aggregates(s =>
              {
                  s.Add(x => x.QuantityFullSettled).Sum();
                  s.Add(x => x.QuantityDelta).Sum();
                  s.Add(x => x.Quantity).Sum();
                  s.Add(x => x.QuantityStartOfDay).Sum();
                  s.Add(x => x.AmountFullSettled).Sum();
                  s.Add(x => x.AmountDelta).Sum();
                  s.Add(x => x.Amount).Sum();
                  s.Add(x => x.AmountStartOfDay).Sum();
                  s.Add(x => x.IncomeAmount).Sum();
                  s.Add(x => x.RebateRate).Average();
              })))
 </div>

@(Html.Kendo().ContextMenu()
    .Name("SharedContractContextMenu")
    .Target( "#SharedDetailContractHistoryGrid" )
    .Events(events => events.Select("onSharedContractContextMenuSelect"))
    .Items(items =>
    {
        items.Add().Text("Deltas").Enabled(SessionSecurityService.IsEditable(ManagerTask.EditSLContract));
        items.Add().Text("AutoFit Columns");
        items.Add().Text("Unsort").Enabled(true);
        items.Add().Text("Reset Filter").Enabled(true);
        items.Add().Text("Reset Grid").Enabled(true);
        items.Add().Text("Select All").Enabled(true);
        items.Add().Text("Copy").Enabled(true).HtmlAttributes(new { ID = "SharedContractButton" });
        items.Add().Text("Export To Excel").Enabled(true);
    }))
