@using SLTrader.Tools
@using EnumExtensions = SLTrader.Tools.EnumExtensions
@model Company

<script  type="text/javascript">
    function onTradeFileUploadError(e) {
        DisplayControllerByStringError("Error", e.message);
    }

    function onTradeFileListApply(e) {
        kendo.ui.progress($("#LoadRegulatoryFile"), true);

        $("#TradeFileListApplyButton").data("kendoButton").enable(false);
        $("#TradeFileListCancelButton").data("kendoButton").enable(false);

        $.ajax({
            url: '@Url.Action("TradeListFileProcess", "Trade", new { area = "DomesticTrading" } )',
            type: 'POST',
            contentType: 'application/json;',
            success: function (valid) {
                DisplayControllerByStringError("Info", valid.message);

                $("#TradeFileListApplyButton").data("kendoButton").enable(true);
                $("#TradeFileListCancelButton").data("kendoButton").enable(true);               

                kendo.ui.progress($("#LoadRegulatoryFile"), false);
            },
            error: function (valid) {
                DisplayControllerByStringError("Error", valid.message);

                $("#RegulatoryListCancelButton").data("kendoButton").enable(true);
                $("#RegulatoryListApplyButton").data("kendoButton").enable(true);

                kendo.ui.progress($("#LoadRegulatoryFile"), false);
            }
        });
    }

    function onTradeFileListCancel(e) {
        $('#LocalDetailWindow').data("kendoWindow").close();       
    }

</script>
<style scoped>
    #RegListUploadNotesText {
        max-width: 300px;
        width: 300px;
        font-style: normal;        
        white-space: pre-wrap;
        border: 1px solid #ccc;        
    }
</style>

<div id="LoadTradeFile" style="width:300px;">
    @(Html.Kendo().Upload()
            .Name( "TradeFileListFiles" )
            .Events( e => e.Error( "onTradeFileUploadError" ) )
            .Validation(validation => validation.AllowedExtensions(new string[] { ".xlsx" }))
            .Async( a => a
            .Save("SaveTradeListFile", "Trade", new { area = "DomesticTrading" } )
            .AutoUpload( true ))
    )
    <table>
        <tr>
            <td colspan="2">@LabelHelper.Label("UserNotes")</td>
            </tr>
        <tr>
            <td colspan="2">
                <label id="TradeFileUploadNotesText">Process only supports .xlsx files, in order to uplaod data the excel spreadsheet needs a 'Cusip' column and a optional 'Quantity' Column.  The 'Cusip' column can use etiher a cusip number or a ticker.  </label>
            </td>
        </tr>
        <tr>            
            <td colspan="2" align="right">
                @Html.Kendo().Button().Name( "TradeFileListApplyButton" ).Enable( true ).Events(e => e.Click("onTradeFileListApply")).Content("Apply")          
                @Html.Kendo().Button().Name( "TradeFileListCancelButton" ).Enable( true ).Events( e => e.Click( "onTradeFileListCancel" ) ).Content("Cancel")
            </td>
        </tr>
    </table>
</div>      