@using SLTrader.Tools
<script type="text/javascript">
    function onSettingsPost()
    {
    }

    $('#FPLendingDefaultAccrualDayCount').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#FPLendingDefaultMark').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#FPLendingProfitIdTextBox').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    $('#FPLendingBatchCodeTextBox').on('focus', function () {
        var input = $(this);
        setTimeout(function () { input.select(); });
    });

    //---
    $('#FPLendingBatchCodeTextBox').change(function () {
        $("#PostAutoBorrowOptions").data("kendoButton").enable(true);
    });

    $('#FPLendingProfitIdTextBox').change(function () {
        $("#PostAutoBorrowOptions").data("kendoButton").enable(true);
    });

    $('#FPLendingDefaultMark').change(function () {
        $("#PostAutoBorrowOptions").data("kendoButton").enable(true);
    });

    $('#FPLendingDefaultAccrualDayCount').change(function () {
        $("#PostAutoBorrowOptions").data("kendoButton").enable(true);
    });

    $(document).ready(function () {
        $('#LocalDetailWindow').data("kendoWindow").center();
    });
    
</script>

<style scoped>
    #AutoBorrowDefaultOptionsTable td {
        padding-left:5px;     
        padding-right:0px;     
    }
</style>
<div id="FPLendingDefaultOptionsDiv" class="table-form">
    <table id="AutoBorrowDefaultOptionsTable">
        <tr>
            <td>@LabelHelper.Text("FPLendingBatchCode")</td>
            <td>@Html.TextBox("FPLendingBatchCodeTextBox", DataSystemValues.LoadSystemValue("FPLendingBatchCode", ""), new { @class = "k-textbox width90" })</td>
            <td>@LabelHelper.Text("FPLendingProfitId")</td>
            <td>@Html.TextBox("FPLendingProfitIdTextBox", DataSystemValues.LoadSystemValue("FPLendingProfitId", ""), new { @class = "k-textbox width90"  })</td>
        </tr>
        <tr>
            <td>@LabelHelper.Text("FPLendingDefaultMark")</td>
            <td>@Html.TextBox("FPLendingDefaultMarkTextBox", DataSystemValues.LoadSystemValue("FPLendingDefaultMark", ""), new { @class = "k-textbox width90"  })</td>
            <td>@LabelHelper.Text("FPLendingDefaultAccrualDayCount")</td>
            <td>@Html.TextBox("FPLendingDefaultAccrualDayCountTextBox", DataSystemValues.LoadSystemValue("FPLendingDefaultAccrualDayCount", ""), new { @class = "k-textbox width90"  })</td>
        </tr>
        <tr>
            <td colspan="4">
                <label id="StatusLabel" class="label-status"></label>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="right">
                @Html.Kendo().Button().Name("PostAutoBorrowOptions").Enable(false).Content(LabelHelper.Text("PostAutoBorrowOptionsChange")).Events(e => e.Click("onSettingsPost"))
            </td>
        </tr>
    </table>
</div>