@using SLTrader.Tools
@model BondFire.Entities.Projections.SL_RecallExtendedProjection

<label>hello!</label>
<table>
    <tr>
        <td> @LabelHelper.Label("RecallNumber") </td>
        <td> @Html.TextBoxFor(model => model.RecallNumber, new { @readonly = true }) </td>
    </tr>
    <tr> 
        <td> @LabelHelper.Label("EntityId") </td>
        <td> @Html.TextBoxFor(model => model.EntityId, new { @readonly = true }) </td>
    </tr>
      <tr>
        <td> @LabelHelper.Label("ConraEntityid") </td>
        <td> @Html.TextBoxFor(model => model.ContraEntity, new { @readonly = true }) </td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("TradeType") </td>
        <td> @Html.TextBoxFor(model => model.TradeType)</td>
    </tr>
     <tr>
        <td> @LabelHelper.Label("SecurityNumber") </td>
        <td> @Html.TextBoxFor(model => model.SecurityNumber, new { @readonly = true })</td>
    </tr>
     <tr>
        <td> @LabelHelper.Label("Ticker") </td>
        <td> @Html.TextBoxFor(model => model.Ticker, new { @readonly = true })</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("QuantityRecalled") </td>
        <td> @Html.TextBoxFor(model => model.QuantityRecalled, new { @readonly = true })</td>
    </tr>
     <tr>
        <td> @LabelHelper.Label("Recallreason") </td>
        <td> @Html.TextBoxFor(model => model.RecallReason, new { @readonly = true })</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("Comment") </td>
        <td> @Html.TextBoxFor(model => model.Comment, new { @readonly = true })</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("RecallDate") </td>
        <td> @Html.Kendo().DatePickerFor(model => model.RecallDate)</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("BuyInDate") </td>
        <td> @Html.Kendo().DatePickerFor(model => model.BuyInDate)</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("SeqNumber") </td>
        <td> @Html.TextBoxFor(model => model.SeqNumber)</td>
    </tr>
    <tr>
        <td> @LabelHelper.Label("RecallFlag") </td>
        <td> @Html.TextBoxFor(model => model.RecallFlag)</td>
    </tr>
</table>


@{
    if (Model.TradeType == TradeType.StockBorrow)
    {
        
    }
    else if (Model.TradeType == TradeType.StockLoan)
    {
        
    }
    else
    {
        
    }
}