@using SLTrader.Tools

@model int

<script>
    $(document).ready(function () {
        $("#NewPasswordTextBox").on('input', function () {
            var newPassword = $("#NewPasswordTextBox").val();
            var confirmNewPassword = $("#ConfirmNewPasswordTextBox").val();

            if (newPassword != confirmNewPassword) {
                $("#UserPasswordChangeButton").data("kendoButton").enable(false);
                $("#UserPasswordStatusLabel").text("New Password and Confirm Password are not the same!");
            }
            else {
                $("#UserPasswordChangeButton").data("kendoButton").enable(true);
                $("#UserPasswordStatusLabel").text("");
            }
        });

        $("#ConfirmNewPasswordTextBox").on('input', function () {
            var newPassword = $("#NewPasswordTextBox").val();
            var confirmNewPassword = $("#ConfirmNewPasswordTextBox").val();

            if (newPassword != confirmNewPassword) {
                $("#UserPasswordChangeButton").data("kendoButton").enable(false);
                $("#UserPasswordStatusLabel").text("New Password and Confirm Password are not the same!");
            }
            else {
                $("#UserPasswordChangeButton").data("kendoButton").enable(true);
                $("#UserPasswordStatusLabel").text("");
            }
        });
    });

    function onUserPasswordSubmit() {
        var adminPassword = $("#AdminPasswordTextBox").val();
        var newPassword = $("#NewPasswordTextBox").val();
        var confirmNewPassword = $("#ConfirmNewPasswordTextBox").val();

        $("#UserPasswordChangeButton").data("kendoButton").enable(false);

        if (newPassword != confirmNewPassword)  {
            $("#UserPasswordStatusLabel").text("New Password and Confirm Password are not the same!");
        }
        else {
            $.ajax({
                url: '/Admin/Admin/UpdateUserPassword',
                contentType: 'application/json;',
                data: JSON.stringify({
                    userId: '@Model',
                    oldPassword: adminPassword,
                    newPassword: newPassword,
                }),
                type: "POST",
                success: function (e) {
                    $("#UserPasswordStatusLabel").text("User pwd updated.");
                    $('#LocalHeaderDetailWindow').data("kendoWindow").close();
                },
                error: function (e) {
                    $("#UserPasswordStatusLabel").text(DisplayControllerErrorByString(e));
                    $("#UserPasswordChangeButton").data("kendoButton").enable(true);
                }
            });
        }
    }
</script>

<style>
    #UserPassword th,
    #UserPassword td {
        min-height: 50px;
        padding: 5px 0px 0px 5px;
    }
</style>
<div>
    <table id="UserPassword">
        <tr>
            <td>@LabelHelper.Text("CurrentPassword")</td>            
            <td>@Html.Kendo().MaskedTextBox().Name("AdminPasswordTextBox").HtmlAttributes(new { @type = "password" })</td>
        </tr>
        <tr>
            <td>@LabelHelper.Text("NewPassword")</td>            
            <td>@Html.Kendo().MaskedTextBox().Name("NewPasswordTextBox").HtmlAttributes(new { @type = "password" })</td>
        </tr>
        <tr>
            <td>@LabelHelper.Text("ConfirmNewPassword")</td>
            <td>@Html.Kendo().MaskedTextBox().Name("ConfirmNewPasswordTextBox").HtmlAttributes(new { @type = "password" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <label id="UserPasswordStatusLabel" style="float:left; width:250px; white-space:normal;"></label>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.Kendo().Button().Name("UserPasswordChangeButton").Events(e => e.Click("onUserPasswordSubmit")).Content(LabelHelper.Text("PostUserPasswordChange")).Enable(false)
            </td>
        </tr>
    </table>
</div>