
<div class="wrapper">
    <div class="content">
        <div id="form_wrapper" class="form_wrapper">
        <form class="login active">						
        <img src="~/Images/heloxLogo.png"/>
            <div style="color:black;">
                @Html.Label("Username:")
                @Html.TextBox("UserNameText", "", new { @class="k-textbox"})
                </div>
                <div style="color:black;">
                @Html.Label("Password:")
                @Html.Password("PasswordText", "", new { @class="k-textbox"})
                </div>
                <div class="bottom" style="text-align:right;padding:5px;">	
                    @Html.Kendo().Button().Name("LoginButton").Content("Login")
                <div class="clear"></div>
                </div>                        
                </form>
            </div>
        <div class="clear"></div>
    </div>			
</div>
		<script type="text/javascript">

		    $(document).ready(function () {
		        var user = window.localStorage['securitycontext'];

		        if (user != null) {
		            try {
		                var userElement = document.getElementById("UserNameText");
		                userElement.value = JSON.parse(user).UserName;
		            }
		            catch (e) {
		                console.log(e.message);
		            }
		        }
		      
		    });

		    $(document).keyup(function(e) {

		        if (e.keyCode == 13) {
		            $("#LoginButton").click();
		        }
		    });

		    function is_mobile() {
		        var agents = ['android', 'webos', 'iphone', 'ipad', 'blackberry'];
		        for (i in agents) {
		            if (navigator.userAgent.match('/' + agents[i] + '/i')) {
		                return true;
		            }
		        }
		        return false;
		    }


		    $(function () {
				var $form_wrapper	= $('#form_wrapper'),				
					$currentForm	= $form_wrapper.children('form.active'),				
					$linkform		= $form_wrapper.find('.linkform');
										
				$form_wrapper.children('form').each(function(i){
					var $theForm	= $(this);
				
					if(!$theForm.hasClass('active'))
						$theForm.hide();
					$theForm.data({
						width	: $theForm.width(),
						height	: $theForm.height()
					});
				});
								
				setWrapperWidth();
				
				$linkform.bind('click',function(e){
					var $link	= $(this);
					var target	= $link.attr('rel');
					$currentForm.fadeOut(400,function(){			
						$currentForm.removeClass('active');			
						$currentForm= $form_wrapper.children('form.'+target);			
						$form_wrapper.stop()
									 .animate({
										width	: $currentForm.data('width') + 'px',
										height	: $currentForm.data('height') + 'px'
									 },500,function(){			
										$currentForm.addClass('active');			
										$currentForm.fadeIn(400);
									 });
					});
					e.preventDefault();
				});
				
				function setWrapperWidth(){
					$form_wrapper.css({
						width	: $currentForm.data('width') + 'px',
						height	: $currentForm.data('height') + 'px'
					});
				}

				$("#LoginButton").click(function (e) {

				    e.preventDefault();

				    var varUserName = document.getElementById("UserNameText").value;
				    var varPassword = document.getElementById("PasswordText").value;
				    $("#LoginButton").data("kendoButton").enable(false);
				    $.ajax({
				        url: "@Url.Action("Login", "Login", new {area="Login"})",
				        type: 'GET',
				        contentType: 'application/json;',
				        async : false,
				        data: { userName:varUserName, password:varPassword },
				        success: function (dataObject) {
				            try
				            {
				                $("#LoginButton").data("kendoButton").enable(true);

				                if (dataObject.UserName != "") {
				             
				                    if (is_mobile()) {
				                        alert("Mobile device?");
				                    }
				                    else {
				                        $.ajax({
				                            url: "@Url.Action("LoadInformation", "Login", new {area="Login"})",
				                            type: 'POST',
				                            contentType: 'application/json;',
				                            data: null,
				                            success: function (valid) {
				                                $("#ContentArea").html(valid);
				                            },
				                            error: function (e) {
				                                DisplayControllerError(e);
				                            }
				                        })
				                    }
				                }
				                else {
				                    $("#LoginButton").data("kendoButton").enable(true);				                 
				                }
				            }
				            catch (e) {
				                $("#LoginButton").data("kendoButton").enable(true);
				                DisplayControllerError(e);
				            }
				        },
				        error: function (e) {
				            $("#LoginButton").data("kendoButton").enable(true);
				            DisplayControllerError(e);
				        }
				    })				  
				});				

				return false;
			});
        </script>