

<script type="text/javascript">

    function onNotificationShow(e) {
        if (!$("." + e.sender._guid)[1]) {
            var element = e.element.parent(),
                eWidth = element.width(),
                eHeight = element.height(),
                wWidth = $(window).width(),
                wHeight = $(window).height(),
                newTop, newLeft;

            newLeft = Math.floor(wWidth / 2 - eWidth / 2);
            newTop = Math.floor(wHeight / 2 - eHeight / 2);

            e.element.parent().css({ top: newTop, left: newLeft });
        }
    }

    function ResizeLayout() {
        resizeTabs("#MainTabStrip", 40);
    }

    $(window).resize(function(){
        resizeTabs("#MainTabStrip", 40);
    });

    try {
        var traderHubProxy = $.connection.traderHub;

        $.connection.hub.logging = true;
    
        traderHubProxy.client.updateServiceAction = function (update) {
            console.log(update);
        };

        $.connection.hub.start({ transport: ['webSockets', 'serverSentEvents'], xdomain: true })
        .done(function () { UpdateRealTimeControl("Connected", "lightgreen"); })
        .fail(function () { UpdateRealTimeControl("Failed", "coral"); });

    }
    catch (e) {
        console.log(e.message);
    }

    function onLocalWindowClose() {        
    }


    $.connection.hub.connectionSlow(function () {
        UpdateRealTimeControl("Slow RD", "lightyellow");
    });

    $.connection.hub.reconnecting(function () {
        UpdateRealTimeControl("Reconnecting", "coral");
    });

    var tryingToReconnect = false;

    $.connection.hub.reconnecting(function () {
        tryingToReconnect = true;
    });

    $.connection.hub.reconnected(function () {
        UpdateRealTimeControl("Connected", "lightgreen");
    });

    $.connection.hub.error(function (error) {
        console.log('SignalR error: ' + error);
    });

    $.connection.hub.disconnected(function () {
        setTimeout(function () {
            $.connection.hub.start({ transport: ['webSockets', 'serverSentEvents'], xdomain: true })
                    .done(function () { UpdateRealTimeControl("Connected", "lightgreen"); })
                    .fail(function () { UpdateRealTimeControl("Failed", "coral"); });
        }, 1000);
    });

    function onFlip() {
        var panes = $("#MainSplitterChild").data("kendoSplitter").children();
        var app = panes[0];
    }

    $(document).ready(function () {
        initSession('@Url.Action("Index", "Login", new { area = "Login" })');
    });
</script>

<div id="TopBar">@{ Html.RenderPartial("~/Areas/Header/Views/Header/_Header.cshtml", SL_Application.Locates); }</div>
<div id="NavBar">@{ Html.RenderPartial("~/Areas/Locates/Views/Menu/Index.cshtml");}</div>

<div style="height:90%">
    @(Html.Kendo().Splitter()
.Name("MainSplitterChild")
.Orientation(SplitterOrientation.Vertical)
.HtmlAttributes(new { @class = "splitter height100p width100p" })
.Panes(verticalPanes =>
{
verticalPanes.Add()
    .HtmlAttributes(new { @class = "childSplitter" })
    .Scrollable(false)
    .Size("19%")
    .Collapsible(true)
    .Content(@<text>
        @Html.Partial("~/Areas/DomesticTrading/Views/Shared/_SecurityMasterHorizontal.cshtml")
    </text>);

    verticalPanes.Add()
            .HtmlAttributes(new { id = "left-pane", @class = "childSplitter" })
            .Scrollable(false)
            .Collapsible(false)
            .Content(@<text>
                @Html.Partial("~/Areas/Locates/Views/Tab/Index.cshtml")
            </text>);

    verticalPanes.Add()
            .HtmlAttributes(new { id = "SharedDetailSplit" })
            .Collapsible(true)
            .Resizable(true)
            .Collapsed(true)
                            .Size("30%")
                              .Scrollable(false)
                              .Content(@<text>
                                @Html.Partial("~/Areas/DomesticTrading/Views/Shared/Templates/_SharedDetail.cshtml")
                            </text>);
}))
</div>

<div>
    @(Html.Kendo().Notification()
        .Name("NotificationBox")
        .Stacking(NotificationStackingSettings.Down)
        .Events(events => events.Show("onNotificationShow")))

@(Html.Kendo().Window()
        .Name("LocalDetailWindow")
        .Modal(true)
        .AutoFocus(true)
        .Actions(actions =>
        {
            actions.Maximize();
            actions.Close();
        })
        .Visible(false)
        .Draggable(true)        
        .Animation(amin =>
        {
            amin.Enable(true);
            amin.Open(effect => effect.Zoom(ZoomDirection.In));
            amin.Close(close => close.Zoom(ZoomDirection.Out));
        })
        .Iframe(false)
        .Events(events =>
        {
            events.Refresh("onLocalWindowResize");
            events.Close("onLocalWindowClose");
        })
        .Scrollable(false)
        .Title("Details"))

    @(Html.Kendo().Window()
        .Name("LocalOneOffDetailWindow")
        .Modal(true)
        .AutoFocus(true)       
            .Animation(amin =>
            {
                amin.Enable(true);
                amin.Open(effect => effect.Zoom(ZoomDirection.In));
                amin.Close(close => close.Zoom(ZoomDirection.Out));
            })
        .Visible(false)
        .Resizable(resize => resize.Enabled(false))
        .Draggable(true)        
        .Scrollable(false)
        .Title("Details"))

</div>